@media only screen and (max-width: 425px) {
  .main-container {
    width: 100%;
  }
  .nav-links {
    display: none;
    margin: 0;
  }
  .nav-search > input,
  .nav-search > img {
    display: none;
  }
  .navbar,
  .nav-search {
    column-gap: 0;
  }
  .navbar {
    padding: 20px;
    align-items: center;
    justify-content: space-between;
  }

  .nav-icon > a > img {
    height: 1.8em;
    margin-top: 12px;
  }
  .header-container {
    width: 100%;
    background-color: #f2f0f1;
    height: 1000px;
  }
  .header-text {
    padding: 20px;
    position: absolute;
    width: 100%;
    text-align: center;
  }
  .header-text > h1 {
    font-size: 2.3em;
    text-shadow: none;
    line-height: 40px;
  }
  .banner-img {
    background-image: none;
  }
  .m-head-banner {
    display: block;
    width: 100%;
    position: absolute;
    bottom: -1%;
    text-align: center;
  }
  .m-head-banner > img {
    width: 100%;
  }
  .small-star {
    top: 70%;
    left: 7%;
  }
  .big-star {
    top: 55%;
    width: 70px;
    right: 10%;
  }

  .company-add {
    height: 180px;
    padding: 30px 10px 10px 10px;
    justify-content: space-between;
  }
  .dressStyle-container > h1 {
    margin: 0px auto 40px auto;
  }

  .dressStyle-box img {
    width: 90%;
    padding-top: 10px;
    margin: 0 auto;
    display: flex;
  }
  .dressStyle-box {
    padding-top: 0px;
    column-gap: 10px;
  }
  .footer-container > h1 {
    text-align: center;
    margin: 0 auto;
  }
  .comment-box {
    flex-direction: column;
  }
  .footer-box {
    padding: 20px;
    width: 90%;
    border-radius: 20px;
    margin: 10px auto;
  }
  .newsletter {
    flex-direction: column;
  }
  .newsletter > div {
    width: 100%;
  }
  .newsletter > h1 {
    width: 100%;
    font-size: 2em;
    margin-bottom: 40px;
  }
  .m-btn{
    padding:15px 0px ;
  }
  .last-section {
    flex-direction: column;
    padding: 80px 20px 0;
  }
  .footer-left-div {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
  }
  .social-icon {
    justify-content: center;
  }
  .footer-right-div {
    margin: unset;
    width: 100%;
  }
  .footer-unorderd {
    flex-wrap: wrap;
    row-gap: 35px;
  }
  .footer-unorderd > li {
    width: 50%;
  }
  .reserved-section {
    padding: 40px;
    text-align: center;
  }
  .footer-icons {
    flex-direction: column;
    width: 100%;
  }
  .footer-icons > div {
    height: 45px;
    margin-top: 15px;
  }
}
