@font-face {
  font-family: "Integral-CF-Bold";
  src: url(assests/fonts/Integral-CF/Fontspring-DEMO-integralcf-bold.otf);
}
@font-face {
  font-family: "Santoshi-Regular";
  src: url(assests/fonts/Satoshi_Complete/Satoshi_Complete/Fonts/OTF/Satoshi-Regular.otf);
}
@font-face {
  font-family: "Santoshi-Medium";
  src: url(assests/fonts/Satoshi_Complete/Satoshi_Complete/Fonts/OTF/Satoshi-Medium.otf);
}
@font-face {
  font-family: "Santoshi-Bold";
  src: url(assests/fonts/Satoshi_Complete/Satoshi_Complete/Fonts/OTF/Satoshi-Bold.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Santoshi-Regular";
}
a {
  text-decoration: none;
  color: inherit;
}
.main-container {
  width: 1320px;
  margin: 0 auto;
  overflow: hidden;
}

/* <<<<<<<< Navbar start >>>>>>>> */

.navbar,
.nav-search {
  display: flex;
  column-gap: 20px;
}
.navbar {
  padding: 30px 50px;
  height: 100px;
  background-color: #fff;
  color: #000;
  align-items: baseline;
}
.nav-logo > a {
  font-size: 1.8em;
  font-family: "Integral-CF-Bold";
  border-bottom: 3px solid #000;
}
.nav-links {
  font-size: 1.2em;
  font-family: "Santoshi-Regular";
  margin: 0px 55px;
}
.nav-links > a {
  margin: 0px 10px;
}
.nav-search {
  position: relative;
  align-items: center;
}
.nav-search > input {
  border-radius: 30px;
  border: none;
  width: 400px;
  height: 45px;
  outline: none;
  font-size: large;
  background-color: #f0f0f0;
  padding: 0 50px;
}
.nav-search > img {
  position: absolute;
  top: 12px;
  left: 20px;
}

.nav-icon > a > img {
  margin: 0 10px;
  height: 1.5em;
}

/* <<<<<<<< Header Start >>>>>>>> */

.header-container {
  color: #000;
  height: 592px;
  position: relative;
}

.banner-img {
  background-image: url("assests/images/head-banner.svg");
  background-position-x: right;
  background-size: cover;
  height: 592px;
}

.header-text {
  padding: 80px 0 30px 50px;
  position: absolute;
  width: 45%;
}
.header-text > h1 {
  font-family: "Integral-CF-Bold";
  font-size: 3.9em;
  line-height: 0.9em;
  text-shadow: 0px 4px 4px #808080;
}
.header-text > p {
  color: #808080;
  font-family: "Santoshi-Regular";
  margin: 30px 0;
}
a .btn {
  width: 50%;
  height: 60px;
  font-size: 1.3em;
  border: none;
  background-color: #000;
  color: #fff;
  border-radius: 50px;
  cursor: pointer;
  font-family: "Santoshi-Regular";
}
.header-counting {
  width: 100%;
  height: 80px;
  background-color: #fff;
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header-counting h2 {
  font-family: "Santoshi-bold";
  text-align: center;
}
.header-counting p {
  font-family: "Santoshi-Regular";
  color: #808080;
}

.small-star {
  position: absolute;
  height: 50px;
  top: 50%;
  right: 42%;
}
.big-star {
  position: absolute;
  height: 100px;
  top: 15%;
  right: 5%;
}
.m-head-banner {
  display: none;
}

/*  <<<<<<<< Advertisement start >>>>>>>>  */

.company-add {
  /* height: 100px; */
  background-color: #000;
  padding: 25px 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

/* <<<<<<<< New Arrivals start >>>>>>>>  */
.arrival-container > h1 {
  font-family: "Integral-CF-Bold";
  text-align: center;
  font-size: 2.5em;
  margin: 50px 0;
}
.arrival-box {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.arrival-box img {
  border-radius: 15px;
}
.arrival-box h3 {
  font-family: "Santoshi-bold";
  text-align: center;
  margin-top: 5px;
}
.arrival-box sup {
  font-size: 0.6em;
}
.rating {
  display: flex;
  justify-content: center;
  column-gap: 10px;
  font-family: "Santoshi-Regular";
}
.rating span {
  color: #808080;
}
.view-all {
  margin: 50px 0;
  text-align: center;
}
.view-all button {
  font-size: 0.9em;
  padding: 10px 50px;
  border-radius: 40px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.hr {
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 90%;
  margin: 10px auto;
}
/* <<<<<<<< Dress Style start >>>>>>>> */

.dressStyle-container {
  width: 95%;
  background-color: #f0eeed;
  margin: 20px auto;
  padding: 50px 0;
  border-radius: 40px;
  position: relative;
}
.dressStyle-container > h1 {
  font-family: "Integral-CF-Bold";
  text-align: center;
  font-size: 2.5em;
  margin: 50px auto 80px auto;
}
.dressStyle-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 50px;
  column-gap: 20px;
}
.dressStyle-box img {
  border-radius: 20px;
}
.dressStyle-box h3 {
  font-family: "Santoshi-Bold";
  font-size: 1.5em;
  position: relative;
  bottom: 80%;
  left: 10%;
}

/*<<<<<<<< Happy Customer Section start >>>>>>>> */
.footer-container {
  padding: 30px;
}
.footer-container > h1 {
  font-family: "Integral-CF-Bold";
  font-size: 2.5em;
  margin: 50px 0;
}
.comment-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-box {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 30%;
  border-radius: 20px;
}
.footer-box h3 {
  font-size: 1.5em;
  margin: 5px 0;
  font-family: "Santoshi-Bold";
}
.footer-box p {
  font-size: 1em;
  margin-top: 10px;
  font-family: "Santoshi-Regular";
  color: #808080;
}
/* <<<<<<<< Newsletter Section start >>>>>>>> */

.newsletter {
  width: 95%;
  background-color: #000;
  padding: 30px 50px;
  margin: 0 auto;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.newsletter > h1 {
  font-family: "Integral-CF-Bold";
  font-size: 2.5em;
  color: #fff;
  width: 50%;
}
.newsletter > div {
  display: flex;
  flex-direction: column;
  position: relative;
}
.footer-btn {
  width: 100%;
  font-size: 1em;
  padding: 15px 50px;
  border-radius: 50px;
  background-color: #fff;
  font-family: "Santoshi-regular";
  border: none;
  margin: 5px 0;
  outline: none;
}

#email-icon {
  position: absolute;
  left: 7%;
  top: 15%;
}
/* <<<<<<<< Footer Information Section start >>>>>>>>  */
.last-section {
  width: 100%;
  background-color: #f0f0f0;
  padding: 80px 40px;
  display: flex;
}
.footer-logo > a {
  font-size: 2em;
  font-family: "Integral-CF-Bold";
  border-bottom: 3px solid #000;
}
.footer-left-div {
  width: 23%;
}
.footer-left-div > p {
  margin: 30px 0;
  color: #808080;
}
.social-icon {
  display: flex;
  column-gap: 20px;
}
.social-icon > a > img {
  height: 2.5em;
}
.footer-right-div {
  width: 65%;
}
.footer-unorderd {
  display: flex;
  justify-content: space-between;
  font-family: "Santoshi-regular";
  text-align: center;
}
li {
  list-style: none;
  color: #808080;
}
.footer-unorderd > li {
  color: #000 !important;
  font-family: "Santoshi-bold";
  letter-spacing: 1px;
}
.footer-unorderd > li > ul > li {
  margin-top: 20px;
}
