@font-face {
  font-family: "Integral-CF-Bold";
  src: url(assests/fonts/Integral-CF/Fontspring-DEMO-integralcf-bold.otf);
}
@font-face {
  font-family: "Santoshi-Regular";
  src: url(assests/fonts/Satoshi_Complete/Satoshi_Complete/Fonts/OTF/Satoshi-Regular.otf);
}
@font-face {
  font-family: "Santoshi-Medium";
  src: url(assests/fonts/Satoshi_Complete/Satoshi_Complete/Fonts/OTF/Satoshi-Medium.otf);
}
@font-face {
  font-family: "Santoshi-Bold";
  src: url(assests/fonts/Satoshi_Complete/Satoshi_Complete/Fonts/OTF/Satoshi-Bold.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
.main-container {
  width: 1320px;
  margin: 0 auto;
}

/* <<<<<<<< Navbar start >>>>>>>> */

.navbar,
.nav-search {
  display: flex;
  column-gap: 20px;
}
.navbar {
  padding: 30px 50px;
  height: 100px;
  background-color: #fafafa;
  color: #000;
  align-items: baseline;
}
.nav-logo > a {
  font-size: 1.8em;
  font-family: "Integral-CF-Bold";
  border-bottom: 3px solid #000;
}
.nav-links {
  font-size: 1.2em;
  font-family: "Santoshi-Regular";
  margin: 0px 55px;
}
.nav-links > a {
  margin: 0px 10px;
}
.nav-search {
  position: relative;
  align-items: center;
}
.nav-search > input {
  border-radius: 30px;
  border: none;
  width: 400px;
  height: 45px;
  outline: none;
  font-size: large;
  background-color: #f0f0f0;
  padding: 0 50px;
}
.nav-search > img {
  position: absolute;
  top: 12px;
  left: 20px;
}

.nav-icon > a > img {
  margin: 0 10px;
  height: 1.5em;
}

/* <<<<<<<< Header Start >>>>>>>> */

